body {
  font-family: 'Roboto', sans-serif;
}

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  background: #F54251;
}

.carousel-cell.is-selected {
  background: #DB0030;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.text-white {
  color: #fff;
}

.uk-button-primary {
  background-color: #DB0030;
  border-radius: 10px;
  position: relative;
  left: 6%;
}

.uk-button-primary:hover {
  background-color: #fff;
  border-color:#F54251;
  color: #F54251;
}